<div class="nt-container relative flex items-center overflow-hidden align-center justify-center rounded-md pt-40"> 
    {% if section.settings.image != blank %}
    {{ section.settings.image| img_url: 'master'| img_tag: block.settings.icon.alt}}
    {% endif %}
  <div class="flex  w-full  h-full align-center items-center absolute  z-1
    px-10 py-20 text-center max-w-5xl	 mx-auto
  ">
    <div class="block">
        <div class="mt-5 font-headline  leading-tight custom-title lg:text-6xl text-4xl ">
            {% if section.settings.headline != blank %}
                {{ section.settings.headline }}
            {% endif %}
          </div>
          <div class="font-headline  leading-tight custom-title lg:text-2xl text-xl pb-2 ">
            {% if section.settings.description != blank %}
            {{ section.settings.description }}
            {% endif %}
          </div>
    </div>
    {% if snippet_instance.settings.button_url != blank%}
    <a href="{{ snippet_instance.settings.button_url }}"
      class="bg-button bg-btncolor mx-auto py-2 px-2 rounded  relative flex justify-center align-center items-center space-x-5"
      aria-label="{{ ariaLabel }}">
        <div class="text-white font-semibold text-lg md:text-2xl text-center uppercase tracking-wider">
          {{- snippet_instance.settings.button_text | escape -}}
        </div>
    </a>
    {% endif %}
  </div>
</div>
{% schema %}
{
  "name": "Mini Banner",
  "tag": "section",
  "settings": [
    {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "mobileimage",
        "label": "Mobile Image"
      },
      {
        "type": "richtext",
        "id": "headline",
        "label": "Headline",
        "default": "<p>Headline</p>"
      },
      {
        "type": "richtext",
        "id": "description",
        "label": "description",
        "default": "<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste quos hic praesentium recusandae dolores odio animi deleniti officia cum itaque.</p>"
      },
      {
        "type": "url",
        "id": "button_url",
        "label": "Button url"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button text",
        "default": "Button"
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "options": [
          {
            "value": "dark",
            "label": "Dark"
          },
          {
            "value": "light",
            "label": "Light"
          }
        ],
        "default": "dark"
      }
  ],
  "presets": [{
    "name": "Mini Banner",
    "category": "Content"
  }]
} 
{% endschema %}