{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

<div class="lg:flex block w-11/12 max-w-1312 items-center mx-auto">
  <div class="w-full">
    <div class="contact_item item_address mb-lg-5 w-full">
      <div class="mb-4">
        <div class="text-32 font-bold text-darkdark" >{{ section.settings.item_info_title }}</div>
        <div class="text-darkdark sm:text-16 text-14 ">{{ section.settings.item_info_text }}</div>
      </div>
      
      <ul class="grid grid-flow-col sm:grid-cols-2 grid-cols-1 sm:grid-rows-2 grid-rows-4 sm:gap-4  gap-0 pt-10">
        {% if section.settings.phone_title.size > 0 and section.settings.phone_text.size > 0 %}
         <li class="col-12 col-xsm-6  sm:mb-4 mb-0">
          <div class="contact_phone contact_element">
            <svg class="bag" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M21.9994 16.9201V19.9201C22.0006 20.1986 21.9435 20.4743 21.832 20.7294C21.7204 20.9846 21.5567 21.2137 21.3515 21.402C21.1463 21.5902 20.904 21.7336 20.6402 21.8228C20.3764 21.912 20.0968 21.9452 19.8194 21.9201C16.7423 21.5857 13.7864 20.5342 11.1894 18.8501C8.77327 17.3148 6.72478 15.2663 5.18945 12.8501C3.49942 10.2413 2.44769 7.27109 2.11944 4.1801C2.09446 3.90356 2.12732 3.62486 2.21595 3.36172C2.30457 3.09859 2.44702 2.85679 2.63421 2.65172C2.82141 2.44665 3.04925 2.28281 3.30324 2.17062C3.55722 2.05843 3.83179 2.00036 4.10945 2.0001H7.10945C7.59475 1.99532 8.06524 2.16718 8.43321 2.48363C8.80118 2.80008 9.04152 3.23954 9.10944 3.7201C9.23607 4.68016 9.47089 5.62282 9.80945 6.5301C9.94399 6.88802 9.97311 7.27701 9.89335 7.65098C9.8136 8.02494 9.62831 8.36821 9.35944 8.6401L8.08945 9.9101C9.513 12.4136 11.5859 14.4865 14.0894 15.9101L15.3594 14.6401C15.6313 14.3712 15.9746 14.1859 16.3486 14.1062C16.7225 14.0264 17.1115 14.0556 17.4694 14.1901C18.3767 14.5286 19.3194 14.7635 20.2794 14.8901C20.7652 14.9586 21.2088 15.2033 21.526 15.5776C21.8431 15.9519 22.0116 16.4297 21.9994 16.9201Z" stroke="#23292D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <h6 class="text-16 font-bold text-darkdark py-4">{{ section.settings.phone_title }}</h6>
            <div class="number d-flex justify-content-start align-items-baseline desc-contact-icons">
              <div class="mr-1">{{ section.settings.phone_text_info }}</div><a class="sm:text-16 text-14" href="tel:{{ section.settings.phone_text | replace: ' ','' }}">{{ section.settings.phone_text }}</a>
            </div>
          </div>
         </li>
        {% endif %}
      
        {% if section.settings.email_title.size > 0 and section.settings.email_text.size > 0 %}
          <li class="col-12 col-xsm-6 mb-4">
            <div class="contact_phone contact_element">
                <svg class="bag" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 4H20C21.1 4 22 4.9 22 6V18C22 19.1 21.1 20 20 20H4C2.9 20 2 19.1 2 18V6C2 4.9 2.9 4 4 4Z" stroke="#23292D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M22 6L12 13L2 6" stroke="#2B2A2A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              <h6 class="text-16 font-bold text-darkdark py-4">{{ section.settings.email_title }}</h6>
              <p class="number mb-0 sm:text-16 text-14">
                <a class="sm:text-16 text-14" href="email:{{ section.settings.email_text | replace: ' ','' }}">{{ section.settings.email_text }}</a>
              </p>
            </div>
          </li>
        {% endif %}
      
        {% if section.settings.location_title.size > 0 and section.settings.location_text.size > 0 %}
          <li class="col-12 col-xsm-6 mb-4">
            <div class="contact_element">
                <svg class="bag" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M21 10C21 17 12 23 12 23C12 23 3 17 3 10C3 7.61305 3.94821 5.32387 5.63604 3.63604C7.32387 1.94821 9.61305 1 12 1C14.3869 1 16.6761 1.94821 18.364 3.63604C20.0518 5.32387 21 7.61305 21 10Z" stroke="#23292D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M12 13C13.6569 13 15 11.6569 15 10C15 8.34315 13.6569 7 12 7C10.3431 7 9 8.34315 9 10C9 11.6569 10.3431 13 12 13Z" stroke="#2B2A2A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
              <h6 class="text-16  font-bold text-darkdark py-4">{{ section.settings.location_title }}</h6>
              <div class="mb-0 desc-contact-icons">{{ section.settings.location_text }}</div>
            </div>
          </li>
        {% endif %}
        
        {% if section.settings.time_title.size > 0 and section.settings.time_text.size > 0 %}
          <li class="col-12 col-xsm-6  mb-4">
            <div class="contact_element">
                    <svg class="bag" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke="#23292D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M12 6V12L16 14" stroke="#2B2A2A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
              <h6 class="text-16 font-bold text-darkdark py-4">{{ section.settings.time_title }}</h6>
              <p class="mb-0 sm:text-16 text-14">{{ section.settings.time_text }}</p>
            </div>
          </li>
        {% endif %}
      </ul>
      </div>
  </div>
  <div class="w-full">
    <div class="contact w-11/12 lg:ml-auto sm:pt-0 pt-20 ">
      <h2 class="title">{{ section.settings.heading | escape }}</h2>
      {%- form 'contact', id: 'ContactForm' -%}
        {%- if form.posted_successfully? -%}
          <div class="form-status form-status-list form__message" tabindex="-1" autofocus>{% render 'icon-success' %} {{ 'templates.contact.form.post_success' | t }}</div>
        {%- elsif form.errors -%}
          <div class="form__message">
            <h2 class="form-status caption-large" role="alert" tabindex="-1" autofocus>{% render 'icon-error' %} {{ 'templates.contact.form.error_heading' | t }}</h2>
          </div>
          <ul class="form-status-list caption-large" role="list">
            <li>
              <a href="#ContactForm-email" class="link">
                {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
              </a>
            </li>
          </ul>
        {%- endif -%}
        <div class="contact__fields">
          <div class="text-16 text-fulldark">Name</div>
          <div class="field">
            <input class="field__input" autocomplete="name" type="text" id="ContactForm-name" name="contact[{{ 'templates.contact.form.name' | t }}]" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}" placeholder="{{ 'templates.contact.form.name' | t }}">
            <label class="field__label" for="ContactForm-name">{{ 'templates.contact.form.name' | t }}</label>
          </div>
          <div class=" text-16 text-fulldark">E-Mail</div>
          <div class="field field--with-error">
            <input
              autocomplete="email"
              type="email"
              id="ContactForm-email"
              class="field__input"
              name="contact[email]"
              spellcheck="false"
              autocapitalize="off"
              value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
              aria-required="true"
              {% if form.errors contains 'email' %}
                aria-invalid="true"
                aria-describedby="ContactForm-email-error"
              {% endif %}
              placeholder="{{ 'templates.contact.form.email' | t }}"
            >
            <label class="field__label" for="ContactForm-email">{{ 'templates.contact.form.email' | t }} <span aria-hidden="true">*</span></label>
            {%- if form.errors contains 'email' -%}
              <small class="contact__field-error" id="ContactForm-email-error">
                <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                <span class="form__message">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</span>
              </small>
            {%- endif -%}
          </div>
        </div>
        <div class="text-16 text-fulldark">Telefonnummer</div>
        <div class="field">
          <input type="tel" id="ContactForm-phone" class="field__input" autocomplete="tel" name="contact[{{ 'templates.contact.form.phone' | t }}]" pattern="[0-9\-]*" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}" placeholder="{{ 'templates.contact.form.phone' | t }}">
          <label class="field__label" for="ContactForm-phone">{{ 'templates.contact.form.phone' | t }}</label>
        </div>
        <div class="text-16 text-fulldark">Kommentar</div>
        <div class="field">
          <textarea
            rows="10"
            id="ContactForm-body"
            class="text-area field__input"
            name="contact[{{ 'templates.contact.form.comment' | t }}]"
            placeholder="{{ 'templates.contact.form.comment' | t }}"
          >
            {{- form.body -}}
          </textarea>
          <label class="form__label field__label" for="ContactForm-body">{{ 'templates.contact.form.comment' | t }}</label>
        </div>
        <div class="flex items-center"> 
          <input type="checkbox" class="checkbox-style" style="background:red" required="">
              <p>Die <a href="/policies/privacy-policy"><u>Datenschutzbestimmungen</u></a> habe ich zur Kenntnis genommen.</p>
          </div>
        <div class="contact__button">
          <button type="submit" class="button bg-sky">
            {{ 'templates.contact.form.send' | t }}
          </button>
        </div>
      {%- endform -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.contact-form.name",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Contact form",
      "label": "Heading"
    },
    {
			"type": "header",
			"content": "Contact info"
		},
		{
			"type": "text",
			"id": "item_info_title",
			"label": "Contact info title",
			"default": "We’re here to help you!"
		},
		{
			"type": "textarea",
			"id": "item_info_text",
			"label": "Contact info text",
			"default": "Have a question, comment, or brilliant idea you'd like to share? Send us a little note below - we love to hear from you and will always reply!"
		},
		
		{
			"type": "text",
			"id": "phone_title",
			"label": "Phone title"
		},
		{
			"type": "text",
			"id": "phone_text",
			"label": "Phone text"
		},
		{
			"type": "text",
			"id": "email_title",
			"label": "Email title"
		},
		{
			"type": "text",
			"id": "email_text",
			"label": "Email text"
		},

		{
			"type": "text",
			"id": "location_title",
			"label": "Location title"
		},
		{
			"type": "richtext",
			"id": "location_text",
			"label": "Location text"
		},
		{
			"type": "text",
			"id": "time_title",
			"label": "Location title"
		},
		{
			"type": "richtext",
			"id": "time_text",
			"label": "Location text"
		}
  ],
  "presets": [
    {
      "name": "t:sections.contact-form.presets.name"
    }
  ]
}
{% endschema %}
