<div class=" xl:flex block  max-w-1312 mx-auto w-11/12">
    <div class="flex xl:w-1/2 w-full bg-grey700">
        <div class="w-full img-teams">
            {{ section.settings.firstimage | img_url: 'master'| img_tag: block.settings.icon.alt}}
        </div>
        <div class="w-full img-teams">
            {{ section.settings.secondimage | img_url: 'master'| img_tag: block.settings.icon.alt}}
        </div>
    </div>
    <div class="flex items-center justify-center lg:w-1/2  w-11/12 mx-auto xl:py-0 py-10">
        <div class="block">
            {% if section.settings.headline != blank %}
            <div class="lg:text-32 text-25 font-bold text-darkdark md:w-652 w-auto">{{ section.settings.headline }}</div>
            {% endif %}
            {% if section.settings.desc != blank %}
            <div class="py-4 font-bold text-20 text-15 text-darkdark md:w-652 w-auto">{{ section.settings.desc }}</div>
            {% endif %}
            {% if section.settings.button_url != blank%}
            <a style="background-color: {{ section.settings.btncolor }};" href="{{ section.settings.button_url }}"
              class="bg-black button pt-4"
              aria-label="{{ ariaLabel }}">
                <div class="text-white font-semibold text-lg md:text-2xl text-center  tracking-wider">
                  {{- section.settings.button_text | escape -}}
                </div>
            </a>
            {% endif %}
             <div class="{% if section.settings.showborder %} py-10 line {% endif %}"></div>
            <div class="block">
                {% if section.settings.name != blank %}
                <div class="py-10 font-bold text-20 text-darkdark">{{ section.settings.name }}</div>
                {% endif %}
              <div class="flex justify-start">

                  <div class="block lg:w-1/2 w-full">
                      {% if section.settings.phone != blank %}
                      <div class="flex">{% include 'icon-phone' %} <span class="pl-iconpadding text-16 font-bold text-darkdark">{{ section.settings.labelphone }}</span></div>
                      <div class="pl-mid text-16 text-darkdark font-normal">{{ section.settings.phone }} </div>
                      {% endif %}
                  </div>
                  <div class="block lg:w-1/2 w-full lg:pt-0 pt-4">
                      {% if section.settings.phone != blank %}
                      <div class="flex">{% include 'icon-mail' %} <span class="pl-iconpadding text-16 font-bold text-darkdark">{{ section.settings.labelmail }}</span></div>
                      <div class="pl-midxl text-16 text-darkdark font-normal">{{ section.settings.email }} </div>
                      {% endif %} 
                  </div>
            
              </div>
            </div>
        </div>

    </div>
</div>
{% schema %}
{
    "name": "Teams ",
    "tag": "section",
    "settings": [
      {
          "type": "image_picker",
          "id": "firstimage",
          "label": "First Image"
        },
        {
          "type": "image_picker",
          "id": "secondimage",
          "label": "Second Image"
        },
        {
          "type": "richtext",
          "id": "headline",
          "label": "Headline"
        },
        {
          "type": "richtext",
          "id": "desc",
          "label": "description"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Button url"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text",
          "default": "Button"
        },
        {
          "type": "color",
          "id": "btncolor",
          "label": "Button Color"
        },
        {
            "type": "checkbox",
            "id": "showborder",
            "label": "Show border"
        },
        {
            "type": "text",
            "id": "name",
            "label": "Name"      
        },
        {
            "type": "text",
            "id": "labelphone",
            "label": "Label Phone"      
        },
        {
            "type": "text",
            "id": "phone",
            "label": "Phone"      
        },
        {
            "type": "text",
            "id": "labelmail",
            "label": "Label Email"      
        }, 
        {
            "type": "text",
            "id": "email",
            "label": "Email"      
        }

    ],
    "presets": [{
      "name": "Teams",
      "category": "Content"
    }]
  } 
  {% endschema %}