<div class="w-full py-20 {% if section.settings.show_border %} border-top py-40 {% endif %}" style="background-color: {{ section.settings.bgcolor }};">
    <div class="max-w-1312 lg:w-9/12 w-11/12 mx-auto block" >
        <div class="w-full">
            {% if section.settings.headline != blank %}
            <div class="lg:text-32 text-20 text-darkdark font-bold">{{ section.settings.headline }}</div>
            {% endif%}
        </div>
        <div class="w-full">
            {% if section.settings.decs != blank %}
            <div class="text-darkgrey text-16 py-10">{{ section.settings.decs }}</div>
            {% endif%}
            {% if section.settings.button_text != blank %}
            <div class="pt-10">
                <a style="background-color: {{ section.settings.btncolor }};" href="{{ section.settings.button_url }}"
                class="uppercase button button--primary"
                aria-label="{{ ariaLabel }}">
                  <div class="button-config ">
                    {{ section.settings.button_text }}
                  </div>
              </a>
            </div>
          {% endif %}
        </div>
    </div>
</div>
{% schema %}
{
    "name": "Text Collection",
    "tag": "section",
    "settings": [
    {
        "type": "color",
        "id": "bgcolor",
        "label": "Background Color"
      },
      {
        "type": "richtext",
        "id": "headline",
        "label": "Headline"
      },
      {
        "type": "richtext",
        "id": "decs",
        "label": "Description"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text"
      },
      {
        "type": "color",
        "id": "btncolor",
        "label": "Button Color"
      },
      {
        "type": "url",
        "id": "button_url",
        "label": "Button Url"
      },
      {
        "type": "checkbox",
        "id": "show_border",
        "label": "Show Border"
      }
          
    ],
    "presets": [
      {
        "name": "Text Collection"
      }
    ]
  }
{% endschema %}